<div class="cards">
    <div (click)="gotToDetails()">
        <p class="rating"><i class="far fa-star"></i> {{movie_serie.vote_average}}</p>
        <img class="portada" src="{{url}}{{movie_serie.poster_path}}" alt="portada">

        <p class="name">{{movie_serie.title || movie_serie.name}}</p>
    </div>
    <span *ngIf="routeCall == 'agregar' && mostrar" class="m-1 add" (click)="add()">+ Agregar a mi lista</span>
    <span *ngIf="routeCall == 'agregar' && !mostrar" class="m-1 exist"># Elemento añadido</span>
    <span *ngIf="routeCall == 'eliminar'" class="m-1 remove" (click)="remove()">- Eliminar de mi lista</span>
</div>