<div>
    <h1 class="tittle">{{title}}</h1>

    <app-searcher (varSearch)="searchMovieOrSerie($event)" [text]="text"></app-searcher>

    <div class="galeria d-flex justify-content-center flex-wrap mt-3">
        <ng-container *ngFor="let movie_serie of movies_series_show">
            <app-card [movie_serie]="movie_serie" [media_type]="media_type" [routeCall]="'eliminar'"></app-card>
        </ng-container>
    </div>
</div>